<li><%= link_to image_tag("logo.png") + ' ' + "darkstat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dnschef", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dnsspoof", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dsniff", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ettercap-graphical", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "hexinject", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "mailsnarf", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "msgsnarf", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "netsniff-ng", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "passive_discovery6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "responder", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "sslsniff", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "tcpflow", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "urlsnarf", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "webmitm", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "webspy", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "wireshark", "#" %></li>
