<li><%= link_to image_tag("logo.png") + ' ' + "dnschef", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ettercap-graphical", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "evilgrade", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_advertise6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_dhcps6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_dns6d", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_dnsupdate6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_mipv6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_mld26", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_mld6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_mldrouter6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_router26", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_reouter6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fake_solicitate6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fiked", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "macchanger", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "parasite6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "randicmp6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rebind", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "redir6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "responder", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "sniffjoke", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "sslsplit", "#" %></li>
