<li class="has-dropdown"><%= link_to image_tag("system-services.png") + ' ' + "System Services", "#" %>
<ul class="dropdown">
<li class="has-dropdown"><%= link_to image_tag("system-services.png") + ' ' + "BeEF", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/system/beef" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("system-services.png") + ' ' + "Dradis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/system/dradis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("system-services.png") + ' ' + "HTTP", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/system/http" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("system-services.png") + ' ' + "Metasploit", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/system/msf" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("system-services.png") + ' ' + "MySQL", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/system/mysql" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("system-services.png") + ' ' + "OpenVas", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/system/openvas" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("system-services.png") + ' ' + "SSH", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/system/ssh" %>
</ul>
</li>
</ul>
</li>
