<li><%= link_to image_tag("logo.png") + ' ' + "autopsy", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "binwalk", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "bulk_extractor", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "powerfuzzer", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "chkrootkit", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dc3dd", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dcfldd", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "extundelete", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "foremost", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fsstat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "galleta", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "tck_comparedir", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "tck_loaddb", "#" %></li>
