<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Forensics", "#" %>
<ul class="dropdown">
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Anti-Virus Forensics Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/anti_virus" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Digital Anti-Forensics", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/digital_anti_forens" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Digital Forensics", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/digital_forens" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Forensics Analysis Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/forens_analys" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Forensic Carving Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/forens_carving" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Forensics Hashing Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/forens_hash" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Forensics Imaging Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/forens_image" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Forensics Suites", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/forens_suite" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Network Forensics", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/net_forens" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "Passwords Forensics Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/pass_forens" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "PDF Forensics Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/pdf_forens" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("forensics-trans.png") + ' ' + "RAM Forensics Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/forens/ram_forens" %>
</ul>
</li>
</ul>
</li>
