<li><%= link_to image_tag("logo.png") + ' ' + "affcat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "affconvert", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "blkis", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dc3dd", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dcfldd", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ddrescue", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ewfacquire", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ewfacquirestream", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ewfexport", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ewfinfo", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ewfverify", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fsstat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "guymager", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "img_cat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "img_stat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "mmls", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "mmstat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "tsk_gettimes", "#" %></li>
