<li><%= link_to image_tag("logo.png") + ' ' + "affcompare", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "affcopy", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "affcrypto", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "affdiskprint", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "affinfo", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "affsign", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "affstats", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "affuse", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "affverify", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "affxml", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "autopsy", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "binwalk", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "blkcalc", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "blkcat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "blkstat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "bulk_extractor", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ffind", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fls", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "foremost", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "galleta", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "hfind", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "icat-sleuthkit", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ifind", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ils-sleuthkit", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "istat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "jcat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "mactime-sleuthkit", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "missidentify", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "mmcat", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pdgmail", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "readpst", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "reglookup", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "regriper", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "sigfind", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "sorter", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "srch_strings", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "tsk_recover", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "vinetto", "#" %></li>
