<li><%= link_to image_tag("logo.png") + ' ' + "binwalk", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "bulk_extractor", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "foremost", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "jls", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "magicrescue", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pasco", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pev", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "recoverjpg", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rifiuti", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rifiuti2", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "safecopy", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "scalpel", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "scrounge-ntfs", "#" %></li>
