<li><%= link_to image_tag("logo.png") + ' ' + "mfcuk", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "mfok", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "mfterm", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "mifare-classic-format", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "nfc-list", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "nfc-mfclassic", "#" %></li>
