<li class="has-dropdown"><%= link_to image_tag("wireless-attacks.png") + ' ' + "NFC Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/wireless_attacks/rfid_nfc/nfc_tools" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("wireless-attacks.png") + ' ' + "RFIDiot ASG", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/wireless_attacks/rfid_nfc/rfidiot_asg" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("wireless-attacks.png") + ' ' + "RFIDiot FROSCH", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/wireless_attacks/rfid_nfc/rfidiot_frosch" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("wireless-attacks.png") + ' ' + "RFIDiot PCSC", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/wireless_attacks/rfid_nfc/rfidiot_pcsc" %>
</ul>
</li>
