<li><%= link_to image_tag("logo.png") + ' ' + "brutforce mifare", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "calculate jcop mifare keys", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "chip & pin info", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "continuous select tag", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "epassport read/write/clone", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "identify hf tag type", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "jcop info", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "jcop mifare read/write", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "jcop set atr historical bytes", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "read mifare", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "read tag", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "select tag", "#" %></li>
