<li><%= link_to image_tag("logo.png") + ' ' + "denial6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dhcpig", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dos-new-ip6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "flood_anvertise6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "flood_dhcpc6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "flood_mld26", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "flood_mld6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "flood_mldrouter6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "flood_router26", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "flood_router6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "flood_solicitate6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fragmetation6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "inundator", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "kill_router6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "macof", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rsmurf6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "siege", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "smurf6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "t50", "#" %></li>

