<li class="has-dropdown"><%= link_to image_tag("stress-testing.png") + ' ' + "Stress Testing", "#" %>
<ul class="dropdown">
<li class="has-dropdown"><%= link_to image_tag("stress-testing.png") + ' ' + "Network Stress Testing", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/stress_test/net_stress_test" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("stress-testing.png") + ' ' + "VoIP Stress Testing", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/stress_test/voip_stress_test" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("stress-testing.png") + ' ' + "Web Stress Testing", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/stress_test/web_stress_test" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("stress-testing.png") + ' ' + "WLAN Stress Testing", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/stress_test/wlan_stress_test" %>
</ul>
</li>
</ul>
</li>
