<li><%= link_to image_tag("logo.png") + ' ' + "aircrack-ng", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "burpsuite", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "hydra", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "john", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "maltego", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "metasploit framework", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "nmap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "owasp-zap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "sqlmap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "wireshark", "#" %></li>
