<li class="has-dropdown"><%= link_to image_tag("hardware-hacking-trans.png") + ' ' + "Hardware Hacking", "#" %>
<ul class="dropdown">
<li class="has-dropdown"><%= link_to image_tag("hardware-hacking-trans.png") + ' ' + "Android Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/hard_hack/android" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("hardware-hacking-trans.png") + ' ' + "Arduino Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/hard_hack/arduino" %>
</ul>
</li>
</ul>
</li>
