<li><%= link_to image_tag("logo.png") + ' ' + "apktool", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "clang", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "clang++", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dex2jar", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "flasm", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "javasnoop", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "radare2", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rafind2", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ragg2", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ragg2-cc", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rahash2", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rarun2", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rax2", "#" %></li>
