<li class="has-dropdown"><%= link_to image_tag("reporting-tools-trans.png") + ' ' + "Reporting Tools", "#" %>
<ul class="dropdown">
<li class="has-dropdown"><%= link_to image_tag("reporting-tools-trans.png") + ' ' + "Documentation", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/report/doc" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("reporting-tools-trans.png") + ' ' + "Evidence Management", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/report/evid_manage" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("reporting-tools-trans.png") + ' ' + "Media Capture", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/report/media_cap" %>
</ul>
</li>
</ul>
</li>
