<li><%= link_to image_tag("logo.png") + ' ' + "apache-users", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "burpsuite", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "cutycapt", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dirb", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dirbuster", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "owasp-zap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "recon-ng", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "vega", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "webscarab", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "webslayer", "#" %></li>
