<li><%= link_to image_tag("logo.png") + ' ' + "burpsuite", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "owasp-zap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "powerfuzzer", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "webscarab", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "webslayer", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "websploit", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "wfuzz", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "xsser", "#" %></li>
