<li class="has-dropdown"><%= link_to image_tag("web-application.png") + ' ' + "Web Applications", "#" %>
<ul class="dropdown">
<li class="has-dropdown"><%= link_to image_tag("web-application.png") + ' ' + "CMS Identification", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/web_app/cms_ident" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("web-application.png") + ' ' + "Database Exploitation", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/web_app/database_exploit" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("web-application.png") + ' ' + "IDS/IPS Identification", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/web_app/ids_ips_ident" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("web-application.png") + ' ' + "Web Application Fuzzers", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/web_app/web_app_fuzzers" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("web-application.png") + ' ' + "Web Application Proxies", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/web_app/web_app_proxies" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("web-application.png") + ' ' + "Web Crawlers", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/web_app/web_app_crawlers" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("web-application.png") + ' ' + "Web Vulnerability Scanners", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/web_app/web_vuln_scanners" %>
</ul>
</li>
</ul>
</li>
