<li><%= link_to image_tag("logo.png") + ' ' + "burpsuite", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "cadaver", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "davtest", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "deblaze", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fimap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "golismero", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "grabber", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "joomscan", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "jsql", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "nikto", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "owasp-zap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "padbuster", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "proxystrike", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "skipfish", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "sqlmap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "uniscan-gui", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "vega", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "w3af", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "wapiti", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "webscarab", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "webshag-gui", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "websploit", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "whatweb", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "wpscan", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "xsser", "#" %></li>
