<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "bbqsql", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "dbpwaudit", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "hexorbase", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "jsql", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "mdb-exploit", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "mdb-hexdump", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "mdb-parsecsv", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "mdb-sql", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "mdb-tables", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "sidguesser", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "sqldict", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "sqlmap", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "sqlninja", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "sqlsus", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "tnscmd10g", "#" %></li>
