<li><%= link_to image_tag("logo.png") + ' ' + "bed", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fuzz_ip6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "ohrwurm", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "powerfuzzer", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "sfuzz", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "siparmyknife", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "spike-generic_chunked", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "spike-generic_listen_tcp", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "spike-generic_send_tcp", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "spike-generic_send_udp", "#" %></li>
