<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "openvas check setup", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "openvas feed update", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "openvas-gsd", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "openvas initial setup", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "openvas start", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "openvas stop", "#" %></li>
