<li><%= link_to image_tag("logo.png") + ' ' + "dnsdict6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dnsenum", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dnsmap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dnsrecon", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dnsrevenum6", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dnstracer", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "dnswalk", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fierce", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "maltego", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "nmap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "urlcrazy", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "zenmap", "#" %></li>
