<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "fragroute", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "fragrouter", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "ftest", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "lbd", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "wafw00f", "#" %></li>
