<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "Information Gathering", "#" %>
<ul class="dropdown">
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "DNS Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/dns_analysis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "IDS/IPS Identification", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/ids_ips_ident" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "Live Host Identification", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/live_host_ident" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "Network Scanners", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/network_scan" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "OS Fingerpriting", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/os_finger" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "OSINT Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/osint_analysis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "Route Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/route_analysis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "Servise Fingerpriting", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/service_finger" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "SMB Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/smb_analysis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "SMTP Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/smtp_analysis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "SNMP Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/snmp_analysis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "SSL Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/ssl_analysis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "Telephony Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/telephony_analysis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "Traffic Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/traffic_analysis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "VoIP Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/voip_analysis" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("info-gathering.png", :border => 0) + ' ' + "VPN Analysis", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/info_gathering/vpn_analysis" %>
</ul>
</li>
</ul>
</li>
