<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "alive6", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "arping", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "cdpsnarf", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "detect-new-ip6", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "detect_sniffer6", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "dmitry", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "dnmap-client", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "dnmap-server", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "fping", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "hping3", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "inverse_lookup6", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "miranda", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "ncat", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "netdiscover", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "nmap", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "passive_discovery6", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "thcping6", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "unicornscan", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "wol-e", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "xprobe2", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "zenmap", "#" %></li>
