<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "dnmap-client", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "dnmap-server", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "implementation6", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "implementation6d", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "ncat", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "nmap", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "sslscan", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "sslyze", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "tlssled", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "unicornscan", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "zenmap", "#" %></li>
