<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "braa", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "cisco-auditing-tool", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "cisco-torch", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "copy-router-config", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "merge-router-config", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "nmap", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "onesixtyone", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "snmpcheck", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "zenmap", "#" %></li>
