<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "cachedump", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "chntpw", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "cmospwd", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "crunch", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "dictstat", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "fcrackzip", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "hachcat", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "hash-identifier", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "john", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "johnny", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "lsadump", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "maskgen", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "multiforcer", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "ophcrack", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "ophcrack-cli", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "policygen", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "pwdump", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "pyrit", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "rainbowcrack", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "rcracki_mt", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "rsmangler", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "samdump2", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "sipcrack", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "sucrack", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "truecrack", "#" %></li>
