<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "acccheck", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "burpsuite", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "cewl", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "cisco-auditing-tool", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "dbpwaudit", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "findmyhash", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "hydra", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "hydra-gtk", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "keimpx", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "medusa", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "ncrack", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "onesixtyone", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "owasp-zap", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "patator", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "phrasendresher", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "thc-pptp-bruter", "#" %></li>
<li><%= link_to image_tag("logo.png", :border => 0) + ' ' + "webscarab", "#" %></li>
