<li class="has-dropdown"><%= link_to image_tag("password-attacks.png") + ' ' + "Password Attacks", "#" %>
<ul class="dropdown">
<li class="has-dropdown"><%= link_to image_tag("password-attacks.png") + ' ' + "GPU Tools", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/pass_attacks/gpu_tools" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("password-attacks.png") + ' ' + "Offline Attacks", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/pass_attacks/off_attacks" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("password-attacks.png") + ' ' + "Online Attacks", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/pass_attacks/on_attacks" %>
</ul>
</li>
<li class="has-dropdown"><%= link_to image_tag("password-attacks.png") + ' ' + "Passing the Hash", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/pass_attacks/pass_hash" %>
</ul>
</li>
</ul>
</li>
