<li><%= link_to image_tag("logo.png") + ' ' + "pth-curl", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pth-net", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pth-openchangeclient", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pth-rpcclient", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pth-smbclient", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pth-smbget", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pth-sqsh", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pth-winexe", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pth-wmic", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "pth-wmis", "#" %></li>
