<li><%= link_to image_tag("logo.png") + ' ' + "bluelog", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "bluemaho", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "blueranger", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "bluesnarfer", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "brscanner", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "redfang", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "spooftooph", "#" %></li>
