<li><%= link_to image_tag("logo.png") + ' ' + "aircrack-ng", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "aspleap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "bully", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "cowpatty", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "eapmd5pass", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "fern-wifi-cracker", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "genkeys", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "genpmk", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "giskismet", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "kismet", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "mdk3", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "wifiarp", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "wifidns", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "wifi-honey", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "wifiping", "#" %></li> 
<li><%= link_to image_tag("logo.png") + ' ' + "wifitap", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "wifite", "#" %></li>
