<li><%= link_to image_tag("logo.png") + ' ' + "gnuradio-companion", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "gqrx", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "gr-scan", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rtl_adsb", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rtl_fm", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rtl_sdr", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rtlsdr-scanner", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rtl_tcp", "#" %></li>
<li><%= link_to image_tag("logo.png") + ' ' + "rtl_test", "#" %></li>

