<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "¤ۣۜDataTrash" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
<body class="body">
 <nav class="top-bar fixed" data-topbar>
  <section class="top-bar-section">
    <ul class="left">
<% if current_user %>
<li class="has-dropdown">
        <a href="#">Приложения</a>
        <ul class="dropdown">
          <li class="has-dropdown"><%= link_to image_tag("logo.png", :border => 0) + ' ' + "Kali Linux", "#" %>
<ul class="dropdown">
<%= render "/layouts/menu/top_10/top10_index" %>
 <li class="divider"></li>
<%= render "/layouts/menu/info_gathering/info_gathering_index" %>
<%= render "/layouts/menu/vuln_analysis/vuln_analysis_index" %>
<%= render "/layouts/menu/web_app/web_app_index" %>
<%= render "/layouts/menu/pass_attacks/pass_attacks_index" %>
<%= render "/layouts/menu/wireless_attacks/wireless_attacks_index" %>
<%= render "/layouts/menu/exploit/exploit_index" %>
<%= render "/layouts/menu/sniff_spoof/sniff_spoof_index" %>
<%= render "/layouts/menu/main_access/main_access_index" %>
<%= render "/layouts/menu/reverse_engine/reverse_engine_index" %>
<%= render "/layouts/menu/stress_test/stress_test_index" %>
<%= render "/layouts/menu/hard_hack/hard_hack_index" %>
<%= render "/layouts/menu/forens/forens_index" %>
<%= render "/layouts/menu/report/report_index" %>
<%= render "/layouts/menu/system/system_index" %>
</ul>
</li>
</ul>
<li class="has-dropdown">
        <a href="#">Переход</a>
        <ul class="dropdown">
<li><%= link_to image_tag("user-home.png", :border => 0) + ' ' + "Домашняя папка", "/" %></li>
<li><%= link_to image_tag("user-desktop.png", :border => 0) + ' ' + "Рабочий стол", "#" %></li>
	   <li class="divider"></li>
	  <li><%= link_to image_tag("user-computer.png", :border => 0) + ' ' + "Компьютер", "#" %></li>
	   <li class="divider"></li>
	<li><%= link_to image_tag("network-workgroup.png", :border => 0) + ' ' + "Сеть", "#" %></li>
	   <li class="divider"></li>
</ul>
     <li><%= link_to image_tag("browser.png", :border => 0) %></li>
<li class="has-dropdown"><%= link_to image_tag("terminal.png", :border => 0) %>
<ul class="dropdown">
<li><%= render "/layouts/terminal" %></li>
</ul>
</li>
      <% end %>  
 </ul>  

<div class="time"><span id="date"></span>, <span id="hour_min"></span><span id="sec"></span></div>

       <ul class="right">
<% if current_user %>
<li><%= link_to image_tag("audio.png", :border => 0) %></li>
<li><a href="/">en</a></li> 
<li><%= link_to image_tag("network.png", :border => 0) %></li>
<li class="has-dropdown"><%= link_to image_tag("user.png", :border => 0) + ' ' + current_user.login %>
<ul class="dropdown">
<li><a href="#">Доступен</a></li>
<li><a href="#">Занят</a></li>
<li class="divider"></li>
<li><%= link_to "Параметры системы", edit_user_registration_path %>
</li>
<li class="divider"></li>
<li><%= link_to "Завершить сеанс...", destroy_user_session_path, :method => :delete  %></li>
</ul>
</li>
  <% else %>
<li class="has-dropdown"><%= link_to image_tag("help.png", :border => 0), "/"%>
<ul class="dropdown">
<li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
<li><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
</ul>
</li>
<% end %>
     </ul>
   </section>
</nav>

<div class="row">
 <div class="twelve columns centered">
    <%= yield %>
 </div>
</div>
  
<%= javascript_include_tag "application" %> 
 
</body>
</html>
