<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "¤ۣۜDataTrash" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
<body class="body">
 <nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="left">
<% if current_user %>
<li class="has-dropdown">
        <a href="#">Приложения</a>
        <ul class="dropdown">
          <li class="has-dropdown"><a href="#">Kali Linux</a>
<ul class="dropdown">
<li class="has-dropdown"><a href="#">Top 10 Secutiry Tools</a>
<ul class="dropdown">
<li><a href="#">aircrack-ng</a></li>
<li><a href="#">burpsuite</a><li>
<li><a href="#">hydra</a></li>
<li><a href="#">john</a></li>
<li><a href="#">maltego</a></li>
<li><a href="#">metasploit framework</a></li>
<li><a href="#">nmap</a></li>
<li><a href="#">owasp-zap</a></li>
<li><a href="#">sqlmap</a></li>
<li><a href="#">wireshark</a><li>
</ul>
</li>
</ul>
</li>
</ul>
<li class="has-dropdown">
        <a href="#">Переход</a>
        <ul class="dropdown">
          <li><a href="#">Домашняя папка</a></li>
	  <li><a href="#">Рабочий стол</a></li>
	   <li class="divider"></li>
	  <li><a href="#">Компьютер</a></li>
	   <li class="divider"></li>
	  <li><a href="#">Сеть</a></li>
	   <li class="divider"></li>
</ul>
     <li><%= link_to image_tag("browser.png", :border => 0) %></li>
<li class="has-dropdown"><%= link_to image_tag("terminal.png", :border => 0) %>
<ul class="dropdown">
<li><%= render "/layouts/terminal" %></li>
</ul>
</li>
      <% else %>
      <% end %>  
 </ul>  

<div class="time"><span id="date"></span>, <span id="hour_min"></span><span id="sec"></span></div>

       <ul class="right">
<% if current_user %>
<li><%= link_to image_tag("audio.png", :border => 0) %></li>
<li><a href="/">en</a></li> 
<li><%= link_to image_tag("network.png", :border => 0) %></li>
<li><%= link_to image_tag("user.png", :border => 0) %></li><li class="has-dropdown"><%= link_to current_user.login %>
<ul class="dropdown">
<li><%= link_to "Параметры системы", edit_user_registration_path %>
</li>
<li class="divider"></li>
<li><%= link_to "Завершить сеанс...", destroy_user_session_path, :method => :delete  %></li>
</ul>
</li>
  <% else %>
<li class="has-dropdown"><%= link_to image_tag("help.png", :border => 0), "/"%>
<ul class="dropdown">
<li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
<li><%= link_to "Forgot your password?", new_password_path(resource_name) %></li>
</ul>
</li>
<% end %>
     </ul>
   </section>
</nav>

<div class="row">
 <div class="twelve columns centered">
    <%= yield %>
 </div>
</div>
  
<%= javascript_include_tag "application" %> 
 
</body>
</html>
