<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "¤ۣۜDataTrash" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
<body class="body">
 <nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="left">
<% if current_user %>
<li class="has-dropdown">
        <a href="#">Приложения</a>
        <ul class="dropdown">
          <li><a href="#">Kali Linux</a></li>
</ul>
<li class="has-dropdown">
        <a href="#">Переход</a>
        <ul class="dropdown">
          <li><a href="#">Домашняя папка</a></li>
	  <li><a href="#">Рабочий стол</a></li>
	   <li class="divider"></li>
	  <li><a href="#">Компьютер</a></li>
	   <li class="divider"></li>
	  <li><a href="#">Сеть</a></li>
	   <li class="divider"></li>
</ul>
     <li><%= link_to image_tag("browser.png", :border => 0), :url => 'browser' %></li>
<li><%= link_to image_tag("terminal.png", :border => 0), :url => 'terminal' %></li>
      <% else %>
      <% end %>  
 </ul>  

<div class="time"><span id="date"></span>, <span id="hour_min"></span><span id="sec"></span></div>

       <ul class="right">
<% if current_user %>
<li><%= link_to image_tag("audio.png", :border => 0), :url => 'audio' %></li>
<li><a href="/">en</a></li> 
<li><%= link_to image_tag("network.png", :border => 0), :url => 'network' %></li>
<li><%= link_to image_tag("user.png", :border => 0), :url => 'social' %></li><li><%= link_to current_user.login, edit_user_registration_path %></li>
  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete  %></li>
  <% else %>
<li class="has-dropdown"><%= link_to image_tag("help.png", :border => 0), "/"%></li>
<ul class="dropdown">
<li><a href="#">Sign up</a></li>
</ul>
<li><%= link_to image_tag("logout.png", :border => 0), :url => 'users/sign_out' %></li>
<% end %>
     </ul>
   </section>
</nav>

<div class="row">
 <div class="twelve columns centered">
    <%= yield %>
 </div>
</div>
  
<%= javascript_include_tag "application" %> 
 
</body>
</html>
